.header-banner {
  background: linear-gradient(rgba(1, 2, 21, 0.274), rgba(0, 0, 0, 0.789)),
    url(../assets/top-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100dvh;
  object-fit: contain;
}

.banner-txt {
  /* background: linear-gradient(rgba(1, 2, 21, 0.985), rgba(0, 0, 0, 0.289)),
    url(../assets/trr-all-images.png); */
    background: url(../assets/trr-all-images.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .col-rev {
    flex-direction: column-reverse;
  }
  .bg-r1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/istock.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  .bg-r2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/trr-automotive-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  .bg-r3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/trr-truck-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  .bg-r4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/ajax-ban.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
}

.bg-r1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/istock.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-r2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/trr-automotive-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-r3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/trr-truck-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-r4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/ajax-ban.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
